

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

@keyframes example {
    0% {background-color: red; background-position: 0px; top: -100px}
    100% {background-color: yellow; background-position: -200px; top: 100px;}
  }
@keyframes example2 {
    0% {background-color: red; left: 0px; top: -100px}
    100% {background-color: yellow; left: 20px; top: 100px;}
  }


@keyframes innerTaoTransition{
  0% {opacity: 100%;}
  100% {opacity: 0%;}
}

@keyframes innerTaoBackTransition{
  0% {background-image: url("images/InnerTao4.png");}
  25% {background-image: url("images/InnerTao5.png");}
  50% {background-image: url("images/InnerTao2.png");}
  75% {background-image: url("images/InnerTao3.png");}
  100% {background-image: url("images/InnerTao4.png");}
}


.animation {
    background-color: red;
    /*animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
    position: relative;
    animation: example 2s infinite alternate;
}

.titles {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 10px #13d569;
    text-align: center;
    margin : 30px;
    
}

.normalText {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 30px;
    margin-left : 100px;
    margin-right : 100px;
    font-weight: 300;
}

.listText {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 30px;
    margin-left : 20px;
    margin-right : 20px;
    margin-bottom : 20px; 
    font-weight: 300;
}
.list {
    list-style-type: disc;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-right : 50px;
    margin-left : 50px;
    margin-bottom: 30px;
}

ul{
    padding-bottom: 40px;
    padding-top: 15px;
}



  
  /* Flex container */
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

 .itemLeft{
     flex-grow: 1; 
     width: 60%;
     margin-right: 40px;
     text-align: end;
     padding-bottom: 20px;
 }
 
 .itemRight{
    flex-grow: 1; 
    width: 60%;
    margin-right: 40px;
    text-align: start;
    padding-bottom: 20px;
}

 .itemImageInnerTao{
    flex-grow: 1; 
    width: 40%;
    margin-right: 50px;
    background-image: url("images/InnerTao4.png");
    background-size: 100%;
    border-radius: 12px;
    
}

 .itemImage{
    flex-grow: 1; 
    width: 40%;
    margin-right: 50px;
    border-radius: 12px;
    
}

.itemProt{
  flex-grow: 1; 
  width: 20%;
  margin-right: 50px;
  border-radius: 12px;
  
}
/* IMAGES */

  .innerTao{
    width: 100%;
    height : 100%;
    border-radius: 12px;
    margin-bottom: -5px;
    animation: innerTaoTransition 6s infinite alternate;
    animation-delay : 4s;
    animation-timing-function: ease-in-out;
  }

  .puzzlescript{
    width: 100%;
    height : 100%;
    border-radius: 12px;
    margin-bottom: -5px;
  }

  .gamejams{
    border-radius: 8px;
    width: 140%;
    border: 0px solid #3d5c3d;
    border-radius: 4px;
  }
  



  /*                                      DESIGN CHOICES                                      */

    /* Flex container */
    .containerJam{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
    }

  /* define flex items */
  .itemJamGame{
    flex-grow:1;
    flex-shrink:1;
    margin: 10px;
    width: 25%;
  }

  span.JamGameName {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

  /* define image */
  .stellarea{
    width: 100%;
    border-radius: 12px;

  }

  .stellarea:hover{
    border-radius: 24px;
    color: #3fff3f;
    width: 100%;
  }

  .linkTest:hover + div.divTest{
    display: block;
  }

  .divTest{
    position: absolute;
      width: 17.2%;
      display: none;
      background-color: rgb(199, 219, 236);
      border-radius: 25px;
      padding: 30px;
      position: 30px;
  }

  .divTest:hover{
    width: 17.2%;
    display: block;
}


